/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Main
   ========================================================================== */
body {
  font-family: Helvetica, Arial, sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif !important;
  color: #003B6F;
}
p {
  color: #555555;
}
i.material-icons {
  vertical-align: bottom;
}
/* ==========================================================================
   Header
   ========================================================================== */
header {
  margin-bottom: 30px;
}
/* ==========================================================================
   Contacts
   ========================================================================== */
.contacts .contacts__add {
  width: 100%;
  height: 100%;
}
.contact__image {
  display: block;
  object-fit: cover;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
/* ==========================================================================
   Table
   ========================================================================== */
